//== Loop icon
.icon-loupe-hover, .icon-loupe {
  display: inline-block;
  background: url('../img/loupe.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.icon-loupe-hover {
  background-position: -0px -0px;
  width: 30px;
  height: 30px;
  background-color: #e6472e;
}

.icon-loupe {
  background-position: -0px -30px;
  width: 30px;
  height: 30px;
}

//== Social network icon
.social-facebook,
.social-skype,
.social-struct,
.social-vk {
  display: inline-block;
  background: url('../img/social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.social-facebook {
  background-position: -0px -0px;
  width: 30px;
  height: 30px;
}

.social-skype {
  background-position: -30px -0px;
  width: 30px;
  height: 30px;
}

.social-struct {
  background-position: -0px -30px;
  width: 30px;
  height: 30px;
}

.social-vk {
  background-position: -30px -30px;
  width: 30px;
  height: 30px;
}

//== Arrow
.arrow-left, .arrow-right {
  display: inline-block;
  background: url('../img/arrow.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.arrow-left {
  background-position: -0px -0px;
  width: 9px;
  height: 21px;
}

.arrow-right {
  background-position: -0px -21px;
  width: 9px;
  height: 21px;
}

//== Basic section
.bloks-hover, .bloks, .book-hover, .book, .booklet-hover,
.booklet, .calendar-hover, .calendar, .catalog-hover, .catalog,
.datebook-hover, .datebook, .folder-hover, .folder, .guide-hover,
.guide, .magazine-hover, .magazine, .map-hover, .map,
.inews-hover, .inews, .packege-hover, .packege, .pamphlet-hover,
.pamphlet, .poster-hover, .poster, .wraper-hover, .wraper {
  display: inline-block;
  background: url('../img/icon-nav.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.bloks-hover {
  background-position: -0px -0px;
  width: 115px;
  height: 100px;
}

.bloks {
  background-position: -115px -0px;
  width: 115px;
  height: 100px;
}

.book-hover {
  background-position: -230px -0px;
  width: 115px;
  height: 100px;
}

.book {
  background-position: -345px -0px;
  width: 115px;
  height: 100px;
}

.booklet-hover {
  background-position: -460px -0px;
  width: 115px;
  height: 100px;
}

.booklet {
  background-position: -0px -100px;
  width: 115px;
  height: 100px;
}

.calendar-hover {
  background-position: -115px -100px;
  width: 115px;
  height: 100px;
}

.calendar {
  background-position: -230px -100px;
  width: 115px;
  height: 100px;
}

.catalog-hover {
  background-position: -345px -100px;
  width: 115px;
  height: 100px;
}

.catalog {
  background-position: -460px -100px;
  width: 115px;
  height: 100px;
}

.datebook-hover {
  background-position: -0px -200px;
  width: 115px;
  height: 100px;
}

.datebook {
  background-position: -115px -200px;
  width: 115px;
  height: 100px;
}

.folder-hover {
  background-position: -230px -200px;
  width: 115px;
  height: 100px;
}

.folder {
  background-position: -345px -200px;
  width: 115px;
  height: 100px;
}

.guide-hover {
  background-position: -460px -200px;
  width: 115px;
  height: 100px;
}

.guide {
  background-position: -0px -300px;
  width: 115px;
  height: 100px;
}

.magazine-hover {
  background-position: -115px -300px;
  width: 115px;
  height: 100px;
}

.magazine {
  background-position: -230px -300px;
  width: 115px;
  height: 100px;
}

.map-hover {
  background-position: -345px -300px;
  width: 115px;
  height: 100px;
}

.map {
  background-position: -460px -300px;
  width: 115px;
  height: 100px;
}

.inews-hover {
  background-position: -0px -400px;
  width: 115px;
  height: 100px;
}

.inews {
  background-position: -115px -400px;
  width: 115px;
  height: 100px;
}

.packege-hover {
  background-position: -230px -400px;
  width: 115px;
  height: 100px;
}

.packege {
  background-position: -345px -400px;
  width: 115px;
  height: 100px;
}

.pamphlet-hover {
  background-position: -460px -400px;
  width: 115px;
  height: 100px;
}

.pamphlet {
  background-position: -0px -500px;
  width: 115px;
  height: 100px;
}

.poster-hover {
  background-position: -115px -500px;
  width: 115px;
  height: 100px;
}

.poster {
  background-position: -230px -500px;
  width: 115px;
  height: 100px;
}

.wraper-hover {
  background-position: -345px -500px;
  width: 115px;
  height: 100px;
}

.wraper {
  background-position: -460px -500px;
  width: 115px;
  height: 100px;
}

//== Footer icons
.sm-icon-fb,
.sm-icon-mail,
.sm-icon-skype,
.sm-icon-tel,
.sm-icon-vk {
  display: inline-block;
  background: url('../img/sm-icons.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.sm-icon-fb {
  background-position: -0px -0px;
  width: 20px;
  height: 20px;
}

.sm-icon-mail {
  background-position: -20px -0px;
  width: 20px;
  height: 20px;
}

.sm-icon-skype {
  background-position: -0px -20px;
  width: 20px;
  height: 20px;
}

.sm-icon-tel {
  background-position: -20px -20px;
  width: 20px;
  height: 20px;
}

.sm-icon-vk {
  background-position: -0px -40px;
  width: 20px;
  height: 20px;
}

.md-icon-ad,
.md-icon-fb,
.md-icon-od,
.md-icon-tw,
.md-icon-vk {
  display: inline-block;
  background: url('../img/md-icon.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.md-icon-ad {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}

.md-icon-fb {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}

.md-icon-od {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}

.md-icon-tw {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}

.md-icon-vk {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
