.info {
  &:extend(.conteiner);
  padding-top: 20px;
  padding-bottom: 26px;
  background-color: @color-bg-info;
  border-top: 1px solid @color-border-info;
}

.logo {
  width: 7.631578%;
  float: left;

}
