//== Menu top
.menu-top {
  &:extend(.container);
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

// Languagge
.language {
  position: relative;
  display: inline-block;

  &__icon {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 5px;
    width: 30px;
    height: 18px;
    .bg-img('eng.jpg')
  }

  &__name {
    display: inline-block;
    padding: 8.5px 0 8.5px 42px;
    font: 13px/1 @font-family-menu-top;
    color: @color-language;
  }
  
  &:hover {
    cursor: pointer;
  }
}

// Menu navigation
.menu-nav {
  display: inline-block;
  margin-left: 7px;

  &__item {
    position: relative;
    display: inline-block;
    padding: 8.5px 14px;
    font: 13px/1 @font-family-menu-top;

    a {
      .text-noline;
      color: @color-menu;
    }

    &:not(:last-of-type):after {
      position: absolute;
      display: block;
      top: 3px;
      right: 0;
      width: 1px;
      height: 24px;
      content: '';
      .bg-img('line.jpg');
    }
  }
}

// Search
.search {
  position: relative;
  display: inline-block;
  margin-left: 15.789473%;;
  padding: 6.5px 35px 6.5px 15px;
  width: 15.789473%;

  &__text {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    font: 13px/1 @font-family-menu-top;
    color: @color-menu;

    &:-moz-placeholder {
      font: 13px/1 @font-family-menu-top;
      color: @color-search;
    }
    &:-ms-input-placeholder {
      font: 13px/1 @font-family-menu-top;
      color: @color-search;
    }
    &::-webkit-input-placeholder {
      font: 13px/1 @font-family-menu-top;
      color: @color-search;
    }
    &::-moz-placeholder {
      font: 13px/1 @font-family-menu-top;
      color: @color-search;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  &:before,
  &:after {
    position: absolute;
    display: block;
    top: 3px;
    width: 1px;
    height: 24px;
    content: '';
    .bg-img('../img/line.jpg');
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.social-link {
  float: right;
  display: inline-block;
  vertical-align: bottom;
  font-size: 0px/1;

  &__item {
    display: inline-block;
    margin-left: 1px;
  }
}

.menu-basic {
  &:extend(.container);
  .text-center;
  padding-top: 18px;

  &__item {
    position: relative;
    display: inline-block;
    padding: 0 23px 18px;
    font: 16px @font-family-menu-basic;
    cursor: pointer;

    a {
      .text-noline;
      color: @color-menu-basic;
    }

    &:after {
      position: absolute;
      content: '|';
      top: 0;
      right: -1px;
      font: 16px "HelveticaNeueRoman";
      color: #dcdcdc;
    }

    &:last-of-type:after {
      display: none;
    }

    &:hover a {
      color: #f00;
    }
  }
}

.nav-down {
  background-color: #f9a41a;
}

.menu-footer {
  &:extend(.menu-basic all);

  &__item {
    font-size: 14px;
    a {
      color: #000;
    }

    &:after {
      font-size: 14px;
      color: #000;
    }
  }
}

.hidden-margin {
  display: none;
  height: 45px;
}

// Medium screen
@media (max-width: @screen-md-max) {
  .search {
    margin-left: 0;
  }
}

// Tablet
@media (max-width: @screen-sm-max) {

  .menu-nav__item:last-of-type {
    display: none;
  }
  .menu-nav__item:nth-of-type(4):after {
    display: none;
  }
  .search {
    width: 14.0625%;
  }
}

// Phone
@media (max-width: @screen-xs-max) {

  .menu-nav {
    display: none;
  }

  .nav-down {
    padding: 0 20px;
  }

  .search {
    padding-top: 14px;
    padding-bottom: 14px;

    &_xs-view {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      width: 100%;
      margin: 0;
      background-color: #dfdfdf;
      box-shadow: inset 0 0 3px 1px #afafaf;
    }

    &__icon {
      top: 7.5px;
    }

    &:before {
      display: none;
    }

    &:after {
      content: '|';
      top: 10px;
      right: 35px;
      color: #9a9a9a;
      font-size: 20px;
    }

    &__text {
      background-color: #dfdfdf;
    }
  }

  .hidden-margin {
    display: block;
  }
}

.problem {
  &:extend(.clearfix all);
}

